@charset "UTF-8";

.back_to_index {
	text-align: right;
	display: block;
}

/* 
    検索領域 
*/
/* タイトル「作品一覧」と検索パネル開閉ボタン */
.title_and_button {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

/* 検索パネルの開閉ボタン */
#search_toggle_btn {
	appearance: none;
	/* ブラウザのボタンに対するデフォルト装飾を消す */
	border: 1px solid #888888;
	background-color: #333333;
	padding: 0 1rem;
	border-radius: 1rem;
	cursor: pointer;
}

/* 検索条件 */
#active_chips {
	flex: 1 1 auto;
	display: flex;
	gap: 1rem;
}

/* 検索パネル */
#search_panel {
	overflow: hidden;
	max-height: 0;
	transition: max-height .5s linear;
	background-color: rgba(80, 80, 80, 0.1);
	padding: 0;
	border-radius: 8px;
	margin-top: 8px;
	box-sizing: border-box;
}

#search_panel.search_panel_open {
	/* 中身が増えても収まる程度に大きな値にしておく */
	max-height: 600px;
}

#search_form {
	margin: 1rem;
}

#search_panel input[type="search"] {
	margin-left: 1rem;
	border: 1px solid #aaaaaa;
	width: calc(100% - 1rem);
	box-sizing: border-box;
	padding: 0.5rem;
}

.field_group {
	margin-bottom: 1rem;
}

.field_group>legend {
	font-family: "Yuji Boku", serif;
	font-weight: 600;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
}

.checkbox_container {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem 1rem;
	/* 行間/列間 */
	align-items: center;
	padding-left: 1rem;
}

.checkbox_container label {
	cursor: pointer;
}

.btn_in_search_panel {
	padding: 0 0.5rem;
	margin-left: 0.7rem;
	background-color: #333333;
	border: 1px solid #888888;
	border-radius: 0.5rem;
	font-family: "Yuji Syuku", serif;
	font-weight: 400;
	line-height: 1.1;
	font-size: 1rem;
}

.btn_in_search_panel:hover {
	color: lightgoldenrodyellow;
}

.search_panel_all_btn {
	display: flex;
	justify-content: space-evenly;
}

.search_panel_all_btn>button {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

/* ギャラリーを CSS Grid でタイル状に */
#gallery {
	display: grid;
	grid-gap: 10px;
	/* padding: 10px; */
	/* PC: 5列、スマホ: 3列 */
	grid-template-columns: repeat(5, 1fr);
	margin-top: 16px;
}

/* 各アイテムのスタイル */
.grid-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	opacity: 1;
	transition: opacity 0.5s ease-in;
}

.grid-item .works_img_wrapper {
	border-radius: 8px;
	/* 角丸 */
	overflow: hidden;
	/* はみ出しを隠す */
}

.grid-item img {
	aspect-ratio: 2 / 3;
	width: 100%;
	object-fit: cover;
	object-position: center;
	display: block;
	transition: transform 0.2s ease-in;
}

.grid-item:hover img {
	transform: scale(1.05);
}

.grid-item.hidden {
	opacity: 0;
}

.caption_style {
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

@media (max-width: 768px) {
	#gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}